* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lexend" ,sans-serif;
}

.container {
    max-width:1110px;
    margin: auto;
}

/* section article */


.article {
    margin-top: 52px
}

.article-wrapper > .top {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px 155px;
    margin-bottom: 42px;
}

h1 {
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 36px;
    letter-spacing: -5%;
}

.view {
    border: 1px solid rgba(239, 239, 239, 1);
    font-weight: 500;
    font-style: Medium;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: -3.5%;
    color: rgba(53, 151, 64, 1);
    padding:11px 27px
}

.article-wrapper > .center {
    margin:59px 0 30px;
    display: grid;
    gap:10px;
    justify-content: space-between;
    grid-template-columns: 110px 144px 128px 187px 148px 157px 163px;
}

.article-wrapper .center > .cards {
    display: flex;
    align-items: center;
    gap:10px;;
    justify-content: center;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 8px;
    padding:23px 22px
}

.article-wrapper .center > .cards > span {
    font-weight:400;
    font-size: 14px;
}

.article-wrapper .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

.article-wrapper .bottom > .cards {
    border: 2px solid rgba(239, 239, 239, 1);
    padding:28px 28px;
    border-radius: 8px;
    position: relative;
}

.article-wrapper .bottom > .cards > img {
    width: 294px;
    height:294px;
}

.article-wrapper .bottom > .cards p {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -4%;
    margin:9px 0;
}

.article-wrapper .bottom > .cards b {
    font-weight: 600;
    font-size: 28px;
    line-height: 54px;
    letter-spacing: 0%;
}

.justify {
    display:grid;
    margin-top: 8px;
    grid-template-columns:88px 48px;
    align-content: center;
    justify-content: space-between;
}   

.justify > button {
    height:48px;
    border-radius: 8px;
    border:1px solid rgba(239, 239, 239, 1);
    background: transparent;
}

.justify > button > img {
    width:24px;
    height:24px;
}

.justify-top {
    margin-top: 29px;
    display: grid;
    grid-template-columns: 100px 33px;
}

.justify-top span {
    font-weight: 400;
    font-size: 14px;
    color:rgba(112, 115, 124, 1)
}

#position {
    height:40px;
    width:40px;
    position:absolute;
    top:10px;
    right:13px
}


/* section main */

.main {
    margin:40px 0 35px;
}

.main-wrapper > .top {
    margin:32px 0 42px;
    display: grid;
    grid-template-columns:160px 173px;
    justify-content: space-between;
    align-content: center;
}

.main-wrapper > .bottom {
    display: grid;
    gap:30px;
}

.one {
    grid-column:1/3;
    grid-row:1/2;
    border-radius: 12px;
    padding: 30px;
    position: relative;
    background-color: rgba(234, 241, 235, 1); 
}

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 31.5px;
    letter-spacing: -2%;
    margin: 8px 0 4px
}

.same-explanation{
    font-weight: 400;
    font-size: 14px;
    line-height: 178%;
    color:rgba(112, 115, 124, 1)
}

.same-btn{
    width: 106px;
    height: 51px;
    border-radius: 8px;
    border: none;
    padding:11px 30px;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    letter-spacing: -3.5%;
    color: rgba(53, 151, 64, 1);
    background:white;
    margin-top: 14px
}

.one > img {
    width: 294px;
    height:300px;
    position:absolute;
    top:-2px;
    right:0px;
}

.two {
    grid-column:3/4;
    grid-row:1/3;
    border-radius: 12px;
    position: relative;
    padding: 24px;
    background-color: rgba(234, 241, 235, 1);
}

.two > img {
    width: 267px;
    height:366px;
    position:absolute;
    bottom:0px
}

.three {
grid-column:1/2;
grid-row:2/3;
border-radius: 12px;
position: relative;
padding:30px 0 30px 30px;
background-color: rgba(234, 241, 235, 1);
}

.three > img {
    position: absolute;
    height:100px;
    width:100px;
    right:1px;
    bottom:0px;
    border-bottom-right-radius: 12px;
}

.four > img {
    position: absolute;
    height:100px;
    width:100px;
    right:1px;
    bottom:0px;
    border-bottom-right-radius: 12px;
}

.four {
border-radius: 12px;
position: relative;
padding:30px 0 30px 30px;
background-color: rgba(234, 241, 235, 1);
}

.timeline {
    display: grid;
    gap:11px;
    align-content: center;
    grid-template-columns: 24px 80px;
}

.timeline img {
    height: 24px;
}

.timeline span {
    color:rgba(112, 115, 124, 1);
    font-weight: 400;
    font-size: 14px;
    padding-top:2px
}